.navbar-light .navbar-brand {
  color: white;
  margin: 0%; }

.navbar-light form .input_izq {
  margin-left: .5rem; }

.form_login {
  display: flex;
  justify-content: center; }
  .form_login form {
    display: grid; }
    .form_login form .boton {
      margin: 10%; }

h1 {
  text-align: center;
  margin: 5%; }

main {
  border: 2px black solid;
  margin: 0px 30vw; }
  main h1 {
    text-align: center; }
  main .info_banco {
    background-color: cadetblue; }
