.navbar-light{
    .navbar-brand{
        color: white;
        margin: 0%;
    }
    form{
        #input_izq{
            margin-right: .5rem;
        }
    }
}
.form_login{
    display: flex;
    justify-content: center;
    form {
        display: grid;
        .boton{
            margin: 10%;
        }
    }
}
.modal-body{
    p{
        margin-top: 5%;
        margin-bottom: 0%;
    }
}
h1{
    text-align: center;
    margin: 3%;
}
main{ 
    h1{
        text-align: center;
    }
    .info_resultado{
        height: 10vh;
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            height: 50%;
            margin: 0 1%;
        }
    }
    .info_opciones{
        margin: 3% 30%;
        border:dashed 2px black;
        section{
            padding: 1.5%;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0;
        }
        .diasIngresados{
           .inputDias{
               display: flex;
               justify-content: center;
               align-items: center;
               margin: 1.5% 5px;
               #nroPlazoDias{
                   width: 20%;
                   margin: 0 3%;
               }
               .input-group{
                   width: 50%;
                   margin-right:5%;
                   margin-left:3%
               }
           }
        }
    }
    ul{
        display: flex;
        justify-content: center;
        border: .15rem solid black;
        li{
        display: inline-flex;
        padding: 0px .5rem;
        
            input{
                font-size: 120%;
                width: 80%;
            appearance: none;
            border: none;
            background-color: transparent;
            }
            img{
                width: 3.5rem;
                height: 3.5rem;
                margin:.5rem;
            }
        }
        .datosInput {
            display:inline-grid;
        }
    }
}